.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 .fblogin{
   
   background: url('img/loginWithFacebook.png') no-repeat;
   height:38px;
   width: 260px;
   
 }
 .btnlogout{
   height: 46px;
   width: 150px;
 }
 .logincard{
  margin: 0 10% 0 10%;
 }
 .cardfb{
   text-align: center;
   margin: auto;
  position: relative;
 }
 .login{
  background-size: cover;
  margin: auto;
  position: relative;
  text-align: center;
  cursor: pointer;
 }
 .glogin{
  height:46px;
  width: 191px;
   background: url('img/googlebtn1x.png') no-repeat;
 }
